.enc-me-fav-lists-container{
	float:right;
	display:none;
	margin-top: -2.5em;
}
#tooltip-save-list{
	display: inline-block;
}
.spinner-container-custom{
	width: 1.25em;
	height: 1.25em;
	display: none;
}
.fav-list-table td{
	border: 1px solid #6d6d6d;
font-size: 0.9em;
}
.fav-list-table th{
	border-bottom: 1px solid #fff;
	font-size: 0.9em;
	padding-left: 0;
	padding-right: 1em
}
.listsize{
	text-align: center;
}
.fav-list-table {
	border-collapse: collapse;
	width: 100%;
}