.enqueueme-settings input:not([type="submit"]):not([type="checkbox"]){
	width: 100%;
	max-width: 400px;
	padding: 0.5em;
}
.enqueueme-settings select{
	width: 100%;
	max-width: 400px;
}

#sortable td{
	background-color: #fff;	
}
#sortable tr{
	width: 100%;
}
.ui-sortable{
	cursor: move
}
.ui-sortable-handle:hover td{
	background-color: #f6f6f6 !important;
}
.ui-sortable-placeholder td{
	background-color: #f3f3f3!important;
	border-bottom: 2px dotted #cdcdcd;
	border-top: 2px dotted #cdcdcd;
	min-height: 10px;	
}
.ui-sortable-helper{
	box-shadow: 0 10px 10px 2px #777;
}
.spinner-container{
	width: 1.25em;
	height: 1.25em;
	display: inline-block;
}
.select-boxes-container{
	width:100%;
	box-sizing: border-box;
}
.select-box-container{
	box-sizing: border-box;
	width: 50%;
	float: left;
	padding: 0 1em 0 0;
}

